@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-th1-main {
    --tw-bg-opacity: 1;
    background-color: hsla(222, 26%, 31%, var(--tw-bg-opacity));
  }
  .bg-th1-toggle {
    --tw-bg-opacity: 1;
    background-color: hsla(223, 31%, 20%, var(--tw-bg-opacity));
  }
  .bg-th1-screen {
    --tw-bg-opacity: 1;
    background-color: hsla(224, 36%, 15%, var(--tw-bg-opacity));
  }
  /* buttons */
  .bg-th1-button {
    --tw-bg-opacity: 1;
    background-color: hsla(32, 26%, 89%, var(--tw-bg-opacity));
  }
  .border-th1-button {
    --tw-bg-opacity: 1;
    border-color: hsla(24, 17%, 65%, var(--tw-bg-opacity));
  }
  /* buttons hover*/
  .bg-th1-button-hover:hover {
    --tw-bg-opacity: 1;
    background-color: hsla(0, 0%, 100%, var(--tw-bg-opacity));
  }
  
  .border-th1-button-hover:hover {
    --tw-bg-opacity: 1;
    border-color: hsla(30, 14%, 62%, var(--tw-bg-opacity));
  }

  .bg-th2-main {
    --tw-bg-opacity: 1;
    background-color: hsla(0, 0%, 90%, var(--tw-bg-opacity));
  }
  .bg-th2-toggle {
    --tw-bg-opacity: 1;
    background-color: hsla(0, 5%, 81%, var(--tw-bg-opacity));
  }
  .bg-th2-screen {
    --tw-bg-opacity: 1;
    background-color: hsla(0, 0%, 93%, var(--tw-bg-opacity));
  }

  .bg-th3-main {
    --tw-bg-opacity: 1;
    background-color: hsla(268, 75%, 9%, var(--tw-bg-opacity));
  }
  .bg-th3-toggle-keypad-screen {
    --tw-bg-opacity: 1;
    background-color: hsla(268, 71%, 12%, var(--tw-bg-opacity));
  }
}

@layer base{
  :root {
    --bg-color-main : #c7d2fe;
    --bg-color-border : #b4a296;
    --color-text-base : #000000;
  }
  .theme-first {
    --bg-color-main : #3b4664;
    --bg-color-display : #181f32;
    --bg-color-keypad : #252d44;
    --bg-color-button : #eae3db;
    --bg-color-button-hover : #ffffff;
    --bg-color-border : #b4a296;
    --bg-color-border-hover : #a6978b;
    --color-text-keypad : #000000;
    --color-text-upper : #ffffff;
    --bg-color-button-del : #647298;
    --bg-color-button-del-hover : #a2b3e1;
    --bg-color-button-del-border : #414e73;
    --bg-color-button-del-border-hover : #404d72;
    --bg-color-button-equal : #d13f30;
    --bg-color-button-equal-hover : #f96c5b;
    --bg-color-button-equal-border : #8c2921;
    --bg-color-button-equal-border-hover : #8c2921;
  }
  .theme-second {
    --bg-color-main : #e6e6e6;
    --bg-color-display : #eeeeee;
    --bg-color-keypad : #d3cdcd;
    --bg-color-button : #e5e4e0;
    --bg-color-button-hover : #ffffff;
    --bg-color-border : #a69c90;
    --bg-color-border-hover : #a6978b;
    --color-text-keypad : #000000;
    --color-text-upper : #000000;
    --bg-color-button-del : #388187;
    --bg-color-button-del-hover : #62b5bd;
    --bg-color-button-del-border : #1b5e66;
    --bg-color-button-del-border-hover : #1b5e62;
    --bg-color-button-equal : #c85401;
    --bg-color-button-equal-hover : #ff8b38;
    --bg-color-button-equal-border : #7e3602;
    --bg-color-button-equal-border-hover : #843500;
  }
  .theme-third {
    --bg-color-main : #17062a;
    --bg-color-display : #1e0836;
    --bg-color-keypad : #1e0836;
    --bg-color-button : #331b4d;
    --bg-color-button-hover : #8631b0;
    --bg-color-border : #7c2392;
    --bg-color-border-hover : #c115f7;
    --color-text-keypad : #ffea31;
    --color-text-upper : #ffea31;
    --bg-color-button-del : #56077c;
    --bg-color-button-del-hover : #8631b0;
    --bg-color-button-del-border : #c215f8;
    --bg-color-button-del-border-hover : #c115f7;
    --bg-color-button-equal : #00decf;
    --bg-color-button-equal-hover : #94fff9;
    --bg-color-button-equal-border : #6efcf2;
    --bg-color-button-equal-border-hover : #6cfaf0;
  }
}
